<meta name="viewport" content="width=device-width, initial-scale=1" />
{{ if .Params.description }}
<meta name="description" content="{{ .Params.description }}" />
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}" />
{{ end }}
<link
	rel="shortcut icon"
	href='{{ "assets/images/LaTeX_logo.svg" | absURL }}' />
{{ if .IsHome }}
<title>{{ replaceRE "[\\\\\\$]" "" .Title }}</title>
{{ else }}
<title>
	{{ replaceRE "[\\\\\\$]" "" .Title }} | {{ replaceRE "[\\\\\\$]" ""
	.Site.Title }}
</title>
{{ end }} {{ if cond (ne .Params.katex nil) .Params.katex .Site.Params.katex }}
<link
	rel="stylesheet"
	href='{{ "assets/css/katex.patched.min.css" | absURL }}' />
<script
	class="prerender"
	defer
	src="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.js"></script>
<script
	class="prerender"
	defer
	src="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/contrib/auto-render.min.js"></script>
<script class="prerender" defer>
	document.addEventListener('DOMContentLoaded', function () {
		renderMathInElement(document.body, {
			delimiters: [
				{ left: '$$', right: '$$', display: true },
				{ left: '$', right: '$', display: false },
				{ left: '\\(', right: '\\)', display: false },
				{ left: '\\[', right: '\\]', display: true },
			],
			throwOnError: false,
		});
	});
</script>
{{ end }}
<link
	rel="stylesheet"
	href='{{ "assets/css/style.patched.min.css" | absURL }}' />

<script class="prerender" defer src="https://unpkg.com/shiki@0.10.1"></script>
<script class="prerender" defer>
	document.addEventListener('DOMContentLoaded', highlight);
	async function highlight() {
		let lightColorSet = new Set();
		let darkColorSet = new Set();
		let codeBlocks = document.querySelectorAll('pre');
		let highlighter = await shiki.getHighlighter({
			themes: ['light-plus', 'dark-plus'],
		});
		codeBlocks.forEach((codeBlock) => {
			let lang = codeBlock.firstChild.getAttribute('data-lang');
			let lightHighlighted = highlighter.codeToHtml(
				codeBlock.firstChild.textContent,
				{ lang: lang, theme: 'light-plus' }
			);
			let darkHighlighted = highlighter.codeToHtml(
				codeBlock.firstChild.textContent,
				{ lang: lang, theme: 'dark-plus' }
			);
			let lightColors = lightHighlighted.match(
				/(?<=color: )#([0-9a-fA-F]{6})/g
			);
			let darkColors = darkHighlighted.match(
				/(?<=color: )#([0-9a-fA-F]{6})/g
			);
			lightColors.shift();
			darkColors.shift();
			let highlighted = lightHighlighted
				.replace(/style="background-color: #[0-9a-fA-F]{6}"/g, '')
				.replace(/<code>/, `<code data-lang="${lang}">`);
			while (lightColors.length) {
				let currentLightColor = lightColors.shift();
				let currentDarkColor = darkColors.shift();
				lightColorSet.add(currentLightColor);
				darkColorSet.add(currentDarkColor);
				highlighted = highlighted.replace(
					/style="color: #[0-9a-fA-F]{6}/,
					`data-light-color="${currentLightColor}" data-dark-color="${currentDarkColor}" style="`
				);
			}
			highlighted = highlighted
				.replace(/style=""/g, '')
				.replace(/style="; /g, 'style="');
			codeBlock.outerHTML = highlighted;
		});
		let style = '\n';
		lightColorSet.forEach((color) => {
			style += `[data-light-color="${color}"] { color: ${color}; }\n`;
		});
		darkColorSet.forEach((color) => {
			style += `.latex-dark [data-dark-color="${color}"] { color: ${color}; }\n`;
		});
		style += `@media (prefers-color-scheme: dark) { \n`;
		darkColorSet.forEach((color) => {
			style += `.latex-dark-auto [data-dark-color="${color}"] { color: ${color}; }\n`;
		});
		style += `}\n`;
		let styleElement = document.createElement('style');
		styleElement.innerHTML = style;
		document.head.appendChild(styleElement);
	}
</script>
